<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies List</title>
</head>
<body>
    {% for item in movies_list %}
    <ul>
        <li>Movie Name: {{item.name}}</li>
    </ul>
    {% endfor %}
    
    <h1>Title</h1>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa itaque non, blanditiis nemo earum omnis similique, voluptatem cumque eaque mollitia aliquam debitis, ea at ex. Omnis ullam delectus provident atque.
</body>
</html>