{% extends 'base.html' %}

{% block content %}
    {% for item in movies_list %}
    <ul class="list-group">
        <li class="list-group-item"><span class="text-info">Movie Name: {{item.Movie.name}}</span> <br> <span>Released Date: {{item.Movie.date}}</span></li>
    </ul>
    {% endfor %}
    
    <h1>Title</h1>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa itaque non, blanditiis nemo earum omnis similique, voluptatem cumque eaque mollitia aliquam debitis, ea at ex. Omnis ullam delectus provident atque.
{% endblock %}